@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body{
  background-image: url('../images/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    }

@media (min-width: 576px) {
   #opciones {
       display: block !important;
   }
}

.header {
    background: #fcfcfc;
}
.logos {

	padding: 20px 10px;
}

.page {
  display: block;

}
/* HOME */
.home{
  background-color: #f5f7fb;
  margin: 0 auto;
  min-height: 800px
}
.home .race .img {
  width: 100%;
  height: 200px;
}


.home .race {
  margin-bottom: 30px;
}

/*  FOOTER */
footer {
  padding: 20px 0;
  background: #2b2f38;
  text-align: center;
  color: white;
}
footer .design p {
  margin-bottom: 0;
}

button.fa.fa-trash.icon {
    display: inline;
    padding: 0;
    border: 0;
    background: none;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}

td form {
  display: inline;
  padding: 0 10px;
}

a.icon {
    padding: 0 4px;
}

.btn-seguidor{
	font-size: 14px;
	letter-spacing: 0px;
	background-color: #00953f;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: bold;
	text-align: center;
	height: 38px;
}

.btn-seguidor:hover{
	color: white;
}

.titulo{
	font-size: 26px;
	letter-spacing: 0px;
	line-height: 30px;
	font-family: "Montserrat";
	font-weight: bold;
	color: #4b4b4b;
  margin-top: 15px;
	
}

.menu-nav {
	font-size: 18px;
	letter-spacing: 0px;
	color: #ffffff;
	font-family: "Roboto";
	font-weight: bold;
	text-align: center;
}

.nombre-carrera{
letter-spacing: 0px;
line-height: 29px;
color: #484f56;
font-family: "Arial";
font-weight: bold;
font-size: 22px;
height: 50px;
}

#centrador-img-logo{
  position: relative;
  width: 161px;
  height: 172px;
  background-color: #ffffff;
  border-radius: 10px;
  margin:auto;
  margin-top: -20px;
}

#imagen-logo{
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: auto;
}
#contenedor-carreras{
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    border-radius: 5px;
}

.pagina-detalles{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  margin-bottom: 0;
}

.card{
  border: 0;
  border-radius: 10px;
}

.cabecera{
  max-height: 20rem;
  padding-right: 20px;
  height: 200px;
}

.num-dorsal{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima-centrado{
  position: absolute;
  top: 67px;
  left: calc( 50% - 86px );
  font-size: 61px;
  letter-spacing: 1px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  width: 172px;
}

.texto-arriba{
  position: absolute;
  top: 14px;
  left: 17px;
  width: 169px;
  font-size: 12px;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;

}

.img-dorsal{
  width: 203px;
  height: 202px;
  position: relative;
  margin: 0 auto;

  background: url(https://tuposition.es/images/dorsal.jpg) center no-repeat; background-size: contain;
}

.page-title.titulo{
  padding: 30px 0;
  margin:0;
}